@import "mixins";


.b-headers-list {
	.inline-list(bottom);
	position: relative;
	z-index: 2;
	padding-top: 30px;

	.item {
		position: relative;
		margin: 0 20px 10px;
		.font(18px, @proximaNovaSemiBold, @blue, 40px);

		&:before {
			.pseudo(auto, 0);
			bottom: 10px;
			left: 0;
			right: 0;
			opacity: .5;
			border-bottom: 1px solid @blue;
			will-change: opacity;
			.transition(opacity);
		}

		&:after {
			.pseudo(auto, 0);
			bottom: -10px;
			left: -10px;
			right: -10px;
			border-bottom: 1px solid @blue;
			opacity: 0;
			will-change: opacity;
			.transition(opacity);
		}

		&.dashed {
			&:before {
				border-bottom: 1px dashed @blue;
			}



			&:hover {
				&:after {
					opacity: 1;
				}
			}
		}

		&.current {
			color: @dark;

			&:before {
				opacity: 0;
			}

			&:after {
				border-bottom-color: @dark;
				opacity: 1;
			}
		}

		&.small {
			font-family: @proximaNovaLight;

			&:after {
				border-bottom-style: solid;
			}
		}

		&:hover {
			cursor: pointer;
		}
	}
}


.b-highlighted-block { // TODO: not complete
	padding: 36px 0 0 20px;
	min-height: 300px;
	background: @blue url('@{imagePath}highlighted-block-background.jpg')0 0 no-repeat;
	background-size: cover;


	.block-header {
		margin: 0;
		padding-bottom: 25px;
		width: 600px;
		.font(30px, @proximaNovaBold, @white, 1.2);
	}

	.description {
		margin: 0;
		width: 600px;
		.font(16px, @proximaNovaLight, @white, 1.5);
	}
}
